@model string;

<div class=" text-white mb-5" style=" position:fixed; bottom:70px; right:25px">
    <a asp-controller="@Model" asp-action="Create" class=" btn btn-success">
        <i class="bi bi-plus-circle">Add New </i>
    </a>
</div>
